body {
  font-family: sans-serif;
  margin: 20px;
}

.container {
  max-width: 100%;
  overflow-x: auto;
  padding: 0 20px;
}

svg {
  display: block;
  margin: 0 auto;
  font: 10px sans-serif;
  background: white;
}

.axis line,
.axis path {
  stroke: #000;
}

.controls {
  margin-bottom: 10px;
}

.controls label {
  margin-right: 1em;
}

.legend-wrapper {
  margin-top: 20px;
  text-align: center;
}

.legend {
  display: inline-flex;
  gap: 20px;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}

.legend-color {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  display: inline-block;
}

path.approach-robotic {
  stroke: #e63946;
  stroke-width: 2;
  stroke-opacity: 0.3;
  fill: none;
}

path.approach-open {
  stroke: #a8cfff;
  stroke-width: 2;
  stroke-opacity: 0.3;
  fill: none;
}

path.approach-videoscopic {
  stroke: #78c679;
  stroke-width: 2;
  stroke-opacity: 0.3;
  fill: none;
}

/* Design Rationale and Development Process */
.text {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 30px;
  max-width: 100%; /* Default max width 100% */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.text h2 {
  font-size: 1.5rem;
  color: #2980b9;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text p {
  font-size: 1rem;
  color: #4b5353;
  margin-bottom: 10px;
  text-align: justify;
}

.text ul {
  margin-left: 20px;
  list-style-type: disc;
  color: #4b5353;
}

.text li {
  font-size: 1rem;
  color: #4b5353;
  margin-bottom: 8px;
}

.text a {
  color: #2980b9;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

